<h1>Welcome to Ruby Coding  School about page</h1>
<div class="row">
<ul class="list-unstyled">
<li>
Yiannis
</li>
<li>
Ntinos
</li>
<li>
Epistimi
</li>
<li>
Basilis
</li>
<li>
Thanos
</li>
</ul>
</div>
