<div class="container">
<div class="jumbotron">
<h1>Ruby Coding School <small>About Page</small></h1>
</div>


<h4>Version 0.1.1.<%= @REVISION %> beta. Take a look at
<a href="https://github.com/konmavrakis/rubycodingschool" target="_blank" >Github!</a>
</h4>
<br>
<h5>Ruby Coding School Project was created by Skroutz2 team:
<a href="https://github.com/pikos-apikos" target="_blank" >Yiannis, </a>
<a href="https://github.com/konmavrakis" target="_blank" >Ntinos, </a>
<a href="https://github.com/epistimi4" target="_blank" >Epistimi, </a>
<a href="https://github.com/TsiroJohn" target="_blank" >Thanos, </a>
<a href="https://github.com/vsiopis" target="_blank" >Vasilis. </a>
</h5>
<br />
<br />
<div class="text-center">
    <img src="/assets/team.jpg" class="center-block img-responsive" />
</div>

</div>
