// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.input-group-btn input {
  color: white !important;
	background: #e8760a !important;
  border: 1px solid #e8760a !important;
  border-left: none !important;
}

input#list-search , input#sku-search, input.btn.btn-default {
  height: 50px !important;
}

.thumbnail.orange,
select#list,
.navbar.orange
.orange {
	border: 1px solid #f58a23 !important;
}

select#list {
	min-width: 170px;
}

.btn-product {
	background-color: #f58a23;
	color: #fff;
}

.btn-product:hover{
	background-color: white;
	border-color: #f58a23;
	color: #f58a23;
}

hr {
	border-top: 1px solid #f58a23;
	opacity: 0.3;
}

td{
  font-size: 16px;
}

td.actions,
td.status {
  width: 100px;
}

.bs-callout.bs-callout-info {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	border-left-color: #f58a23;
}

ul.list-inline.lists{
	text-transform: capitalize;
}

.glyphicon{
	color: #f58a23;
}

.whiteglyphicon{
	color: #ffffff;
}

.lb-md {
  font-size: 16px;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background-color: #f58a23;
  border-color: #f58a23;
}

.pagination > li > a, .pagination > li > span,
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  color: #f58a23;
}

h1.intro {
	font-size: 20px;
	text-align: center;	
}